@model YourPlace.ViewModels.RestaurantsViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Restaurants</h2>
<ul>
    @foreach (var restaurant in Model.Restaurants)
    {
        <li>
            @restaurant.Name
        </li>
    }
</ul>

