@model YourPlace.Models.ApplicationUser
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>User details</h2>

<p>Email: @Model.Email</p>
<p>Name: @Model.UserName</p>
<p>Joined: @Model.DateOfRegister</p>