@model YourPlace.ViewModels.AllCustomersViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Customers</h2>

<ul>
    @foreach (var customer in Model.Customers)
    {
        <li>@customer.Email</li>
    }
</ul>

