@model YourPlace.ViewModels.ChildReplyViewModel

@using YourPlace.Models
@using YourPlace.ViewModels

<ul>
    @foreach (var reply in Model.ChildReplies)
    {
    <li>
        ~@Html.ActionLink(reply.AuthorName, "Details", "Customers", new { id = reply.AuthorId }, null) - @reply.TimeSinceAdding(reply.CreateDate).Number@reply.TimeSinceAdding(reply.CreateDate).TimeUnit<br />
        @reply.Body
        @if (User.Identity.IsAuthenticated)
    {
        using (Html.BeginForm("AddChildReply", "Restaurants", new
        {
            restaurantId = Model.RestaurantId,
            commentId = Model.CommentId,
            parentReplyId = reply.Id
        }))
        {
            @Html.TextBoxFor(r => r.NewChildReply.Body)
            <button type="submit">Reply</button>
    }
}

        @if (reply.ChildReplies != null && reply.ChildReplies.Count > 0)
    {
        <div>
            @{Html.RenderPartial("_ChildReplies", new ChildReplyViewModel
            {
                ChildReplies = reply.ChildReplies,
                RestaurantId = Model.RestaurantId,
                CommentId = Model.CommentId
            });}
        </div>
}
    </li>
    }
</ul>
