@model List<Reply>

@using YourPlace.Models

<ul> 
    @foreach (var parRep in Model)
    {
        <li>
            Author: @parRep.AuthorName<br />
            Comment: @parRep.Body
            <div>
            @{Html.RenderPartial("_ChildReplies", parRep.ChildReplies);}
            </div>
        </li>
    }
</ul>