@model  YourPlace.ViewModels.ParentReplyViewModel

@using YourPlace.Models
@using YourPlace.ViewModels
<ul> 
    @foreach (var parRep in Model.ParentReplies)
    {
    <li>
        ~@Html.ActionLink(parRep.AuthorName, "Details", "Customers", new { id = parRep.AuthorId }, null) - @parRep.TimeSinceAdding(parRep.CreateDate).Number@parRep.TimeSinceAdding(parRep.CreateDate).TimeUnit<br />
        @parRep.Body<br />
        @if (User.Identity.IsAuthenticated)
    {
        using (Html.BeginForm("AddChildReply", "Restaurants", new
        {
            restaurantId = Model.RestaurantId,
            commentId = Model.CommentId,
            parentReplyId = parRep.Id
        }))
        {
            @Html.TextBoxFor(r => r.NewChildReply.Body)
            <button type="submit">Reply</button>
    }
}

        <div>
            @{Html.RenderPartial("_ChildReplies", new ChildReplyViewModel
            {
                ChildReplies = parRep.ChildReplies,
                RestaurantId = Model.RestaurantId,
                CommentId = Model.CommentId
            });}
        </div>
    </li>
    }
</ul>