@model YourPlace.ViewModels.RestaurantsByTagViewModel
@{
    ViewBag.Title = "GetRestaurantsWithThisTag";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.TagBody</h2>
<h3>Restaurants</h3>
<ul>
    @foreach (var restaurant in Model.Restaurants)
    {
        <li>@Html.ActionLink(restaurant.Name, "Details", "Restaurants", new { id = restaurant.Id}, null)</li>
    }
</ul>
